.header{
    width:7.5rem;
    height:0.88rem;
    background:-webkit-linear-gradient(left,#ff3632,#ff7a18);
    background:linear-gradient(left,#ff3632,#ff7a18);
    color:#fff;
    font-weight:both;
    font-size:0.36rem;
    text-align: center;
    line-height:0.88rem;
    position:fixed;
    top:0;
    z-index:10;
}
.header a{
    display:block;
    float: left;
    width:0.25rem;
    text-align: right;
}
.header a .iconfont{
    font-size:0.5rem;
    color:#fff;
}
.banner{
    width:7.5rem;
    height:auto;
    margin-top:0.88rem;
}
.banner img{
    width:7.5rem;
    height:5.9rem;
}
.bigbox{
    width:7.02rem;
    height:auto;
    margin-top: 0.33rem;
    padding:0 0.25rem;
}
.bigbox .box{
    width:7.02rem;
    height:0.62rem;
    display:flex;
    justify-content: space-between;
}
.bigbox .box .tuijian{
    width:3.5rem;
    height:0.62rem;
}
.bigbox .box .many{
    width:2.5rem;
    height:0.62rem;
    text-align: right;
}
.bigbox .box .tuijian span{
    font-size:0.3rem;
    color:#ff5625;
    line-height:0.62rem;
}
.bigbox .box .tuijian .iconfont{
    font-size:0.3rem;
    color:#ff5625;
    line-height:0.62rem;
}
.bigbox .box .tuijian .iconfont:nth-of-type(5){
    color:#ccc;
}
.bigbox .box .many span{
    color: #ff4c45;
    font-size:0.3rem;
}
.bigbox .box .many span:first-child{
    color: #ff4c45;
    font-size:0.5rem;
}
.bigbox .box2{
    width:7.02rem;
    height:0.7rem;
    font-size:0.36rem;
    line-height: 0.7rem;
    color:#333;
}
.bigbox .box3{
    width:7.01rem;
    height:0.71rem;
    font-size:0.26rem;
    color:#ccc;
}
.bigbox .box4{
    width:7.01rem;
    height:1.15rem;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.bigbox .box4 div{
    width:1.6rem;
    height:0.5rem;
    box-shadow: 0  0.04rem 0.1rem 0 
		rgba(255, 2, 2, 0.33);
	border-radius: 0.26rem;
    border:0.01rem solid  #ff5526;
    text-align: center;
    line-height:0.5rem;
    font-size:0.3rem;
	color: #ff5625;
}
.bigbox .box4 .box4-1{
    box-shadow: 0  0.04rem 0.1rem 0 
        rgba(255, 2, 2, 0.33);
    color:#ff8c74;
    border: 0.01rem solid  #ff5526;
}
.bigbox .box5{
    width:7.01rem;
    height:1.19rem;
    display: flex;
    justify-content: space-between;
}
.bigbox .box5 .yonghu{
    width:4rem;
    height:1.19rem;
    display: flex;
}
.bigbox .box5 .yonghu .hadden{
    width:1.19rem;
    height:1.19rem;
    border-radius: 1.19rem;
    background: #333;
}
.bigbox .box5 .yonghu .text{
    width:2.3rem;
    height:1.21rem;
    margin-left:0.2rem;
}
.bigbox .box5 .yonghu .text .big{
    font-size:0.36rem;
    color:#333;
    margin-top:0.24rem;
}
.bigbox .box5 .yonghu .text .small{
    font-size:0.24rem;
    color:#b2b2b2;
    margin-top:0.1rem;
}
.bigbox .box5 .tuijian .iconfont{
    font-size:0.3rem;
    color:#ff5625;
    line-height:1.21rem;
}
.bigbox .box5 .tuijian .iconfont:nth-of-type(5){
    color:#ccc;
}
.bigbox .box6{
    width:5.65rem;
    height:0.58rem;
    float:right;
    font-size:0.24rem;
    color:#7f7f7f;
}
.bigbox .box7{
    width:7.02rem;
    height:1.07rem;
    margin-top:0.7rem;
}
.bigbox .box7 img{
    width:0.63rem;
    height:0.63rem;
    margin-top:0.2rem;
    float:left;
}
.bigbox .box7 span{
    display: inline-block;
    margin:0.3rem 0  0   0.1rem;
    font-size:0.36rem;
    color:#333;
    font-weight: bold;
}
.box8{
    width:7.02rem;
    height:3.5rem;
    white-space: nowrap;
    overflow: hidden;
    overflow: auto;
    
}
.box8 .huakuai{
    width:15rem;
    height:3.5rem;
}
.box8 div{
    width:2.61rem;
    height:3.28rem;
    border-radius: 0.1rem;
    margin-left:0.24rem;
    float: left;   
}
.box8 div img{
    width:100%;
    height:100%;
}
.box8::-webkit-scrollbar{
    display: none;
}
.bottom{
    width:7.5rem;
    height:0.98rem;
    display: flex;
    justify-content: space-between;
}
.bottom .bottom-left{
    width:4.1rem;
    height:0.98rem;
    display: flex;
}
.bottom .bottom-left a{
    display: inline-block;
    width:1.03rem;
    height:0.95rem;
}
.bottom .bottom-right{
    width:2.92rem;
    height:0.98rem;
}
.bottom .bottom-left a .iconfont{
    font-size:0.39rem;
    color:#ff5a24;
    text-align: center;
    margin-top:0.2rem;
}
.bottom .bottom-left a .title{
    font-size:0.18rem;
    color:#ff5a24;
    text-align: center;
}
.bottom .bottom-left a .title1{
   width:0.67rem;
   height:0.67rem;
   border-radius: 0.67rem;
   box-shadow: 0px 7px 32px 0px 
        rgba(251, 91, 33, 0.18);
        line-height: 0.67rem;
}
.bottom .bottom-right button{
    width:2.64rem;
    height:0.71rem;
    border-radius: 0.36rem;
    font-size:0.36rem;
    line-height:0.36rem;
    color:#fff;
    text-align: center;
    background:-webkit-linear-gradient(left, #ff3831,#ff7619);
    background: linear-gradient(left, #ff3831,#ff7619);
    border:0;
    margin:0.1rem auto 0;
    display: block;
}